<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><!--連到css-->
</head>

<body>
    <form action="/">
        <div class="wrap">
            <div class="login">
                <h2>失敗頁面</h2>
                <p>帳號或密碼輸入錯誤</p>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script><!--連到js-->
</body>

</html>